<%= form_with model: @person do |form| %>
  <div>
    <%= form.label :full_name %><br>
    <%= form.text_field :full_name %><br>
    <% @person.errors.full_messages_for(:full_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :username %><br>
    <%= form.text_field :username %><br>
    <% @person.errors.full_messages_for(:username).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </div>
  <div>
    <%= form.label :birthday %><br>
    <%= form.date_field :birthday %>
  </div>
  <div>
    <%= form.label :city %><br>
    <%= form.text_field :city %>
  </div>
  <div>
    <%= form.label :region %><br>
    <%= form.text_field :region %>
  </div>
  <div>
    <%= form.label :country %><br>
    <%= form.text_field :country %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
