<h1><%= @person.full_name %></h1>
<p>Birthday: <%= @person.birthday&.strftime('%d.%m.%Y') %></p>
<p>Country: <%= @person.country %></p>
<p>Region: <%= @person.region %></p>
<p>City: <%= @person.city %></p>
<ul>
  <li><%= link_to "Edit", edit_person_path(@person) %></li>
  <li><%= link_to "Destroy", person_path(@person),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>
